In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
a = np.array([10,20,30,40])

In [6]:
print(a)

[10 20 30 40]

In [9]:
print("Mean of Array",np.mean(a))

Mean of Array 25.0

In [10]:
print("Squerd",a**2)

Squerd [ 100  400  900 1600]

In [12]:
matrix = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [16]:
print("shape",matrix.shape)

shape (3, 3)

In [17]:
print("first row",matrix[0])

first row [1 2 3]

In [18]:
data = {"Name": ["Alice", "Bob", "Charlie"],
        "Age": [25, 30, 35],
        "City": ["London", "Paris", "Berlin"]}

In [22]:
df = pd.DataFrame(data)

In [25]:
df

      Name  Age    City
0    Alice   25  London
1      Bob   30   Paris
2  Charlie   35  Berlin

In [26]:
df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [27]:
print("Avarage Age :",df["Age"].mean())

Avarage Age : 30.0