In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
raw_data = pd.read_csv("train.csv")

In [4]:
raw_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
print("Suvived overrall:",raw_data["Survived"].mean())

Suvived overrall: 0.3838383838383838

In [10]:
print("rate of gender Survived:",raw_data.groupby("Survived")["Age"].mean())

rate of gender Survived: Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [11]:
print("rate of gender Survived:",raw_data.groupby("Pclass")["Survived"].mean())

rate of gender Survived: Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [17]:
raw_data[raw_data["Survived"] == 1]["Age"].mean()

np.float64(28.343689655172415)

In [21]:
raw_data.sort_values("fare",ascending=False).head(5)

KeyError: 'fare'